<a href="https://colab.research.google.com/github/Jeffresh/Datathon-2-Dphi-Heart-Disease-Prediction/blob/main/Datathon_2_Heart_Disease_Prediciton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datathon 2: Heart Disease Prediction

## Imports

In [1]:
import pandas as pd

## Load data

In [3]:
heart_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Heart_Disease/Training_set_heart.csv" )
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Heart_Disease/Testing_set_heart.csv')

In [4]:
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   48    1   2       124   255    1  ...      0      0.0      2   2     2       1
1   68    0   2       120   211    0  ...      0      1.5      1   0     2       1
2   46    1   0       120   249    0  ...      0      0.8      2   0     3       0
3   60    1   0       130   253    0  ...      1      1.4      2   1     3       0
4   43    1   0       115   303    0  ...      0      1.2      1   0     2       1

[5 rows x 14 columns]